/* SAFE AREA */
.safe-area{
	height: 30rem;
	background-color: #e58437;
	padding-top: 1rem;
}
/* em = tamanho da font size do elemento pai*/
/* rem = tamanho da font size do elemento HTML*/

/* HEADER */
.header{
	height: 60px;
}

.nav-link{
	color: #000000;
	font-weight: bold;
}

.nav-link:hover{
	text-decoration: underline;
	color: #000000;
}
.teste2{
    background: blue !important;
}

/*Global texts*/
.headline{
	font-size: 2rem;
}

.description{
	font-size: 1.3rem;
}

.text{
	font-size: .85rem;
	color: #898989;
}



